{% extends 'base.html' %}

{% block title %}Главная - Мой интернет-магазин{% endblock %}

{% block content %}
<h2>Добро пожаловать в наш интернет-магазин!</h2>
<p>Посмотрите наши последние товары и предложения.</p>
<!-- Добавьте больше содержимого здесь, такого как списки товаров, акции и т. д. -->

<section>
    <h3>О нашем магазине</h3>
    <p>Мы предлагаем широкий ассортимент товаров для вашего удобства. Наш магазин специализируется на электронике, одежде, бытовой технике и многом другом. У нас вы найдете высококачественные товары по доступным ценам.</p>
    <p>Не забудьте также ознакомиться с нашими акционными предложениями и скидками!</p>
</section>

<section>
    <h3>Контактная информация</h3>
    <p>Адрес: ул. Примерная, д. 123, г. Примерный</p>
    <p>Телефон: +7 (XXX) XXX-XX-XX</p>
    <p>Электронная почта: info@example.com</p>
</section>
{% endblock %}
