{% extends 'base.html' %}

{% block title %}Товары - Мой интернет-магазин{% endblock %}

{% block content %}
<h2>Наш ассортимент товаров</h2>
<!-- Добавьте больше товаров здесь -->
<div class="product-container">
    <div class="product">
        <h3>Смартфон XYZ-5000</h3>
        <p>Цена: $299</p>
        <p>Описание: Очень мощный смартфон с высоким разрешением экрана и долгим временем работы от аккумулятора.</p>
    </div>
    <div class="product">
        <h3>Ноутбук ABC-200</h3>
        <p>Цена: $899</p>
        <p>Описание: Легкий и мощный ноутбук с большим объемом памяти и высокой производительностью.</p>
    </div>
    <!-- Добавьте больше товаров вторым столбцом -->
    <div class="product">
        <h3>Планшет QWE-100</h3>
        <p>Цена: $199</p>
        <p>Описание: Компактный и удобный планшет с ярким экраном и долгим временем автономной работы.</p>
    </div>
    <div class="product">
        <h3>Фитнес-браслет FitX</h3>
        <p>Цена: $49</p>
        <p>Описание: Умный браслет для отслеживания физической активности и здоровья.</p>
    </div>
</div>
{% endblock %}
